/* Core Data Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.ag-header-cell-label .ag-header-cell-text {
  white-space: nowrap;
  overflow: hidden; /* Prevent overflowing text */
  text-overflow: clip; /* Prevent showing ellipsis (...) */
}

.ag-font-style {
  user-select: initial;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}

.ag-paging-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

#customPaginationText {
  margin-right: auto; /* Align text to the left of the pagination controls */
  font-weight: bold;
  padding-left: 10px;
}

/* Switch Container */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Abstand zwischen Switch und Label */
  height: auto;
  max-width: 150px; /* Maximalgröße setzen */
  margin-left: 10px;
}

/* Switch Styling */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #57ff5e;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f74cff;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Styling für den Pagination-Bereich */
.ag-paging-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  height: auto;
}

/* Global Styles */
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #d9d9d9;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #434B56;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

.easy {
  background-color: #4d1875 !important;
}

.medium {
  background-color: #48073f !important;
}

.hard {
  background-color: #600b18 !important;
}

.insane {
  background-color: #7c0500 !important;
}

.extreme {
  background-color: #2c0b04 !important;
}

.rated {
  background-color: #1f2936 !important;
}

.featured {
  background-color: #564909 !important;
}

.epic {
  background-color: #60290b !important;
}

.legendary {
  background-color: #7c0072 !important;
}

.mythic {
  background-color: #085357 !important;
}

.ag-header-cell-center {
  justify-content: center;
  text-align: center;
}
